.add {
    background: #00000080;
    background-size: cover;
    display: flex;
    max-width: 890px;
    width: 100%;
    height: 110%;
    position: fixed;
    top: -10%;
    z-index: -1;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, z-index 0.5s 0s;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.6s;
}

.add_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 2;
    transition: opacity 0.6s;
}

.add__exit {
    position: relative;
    align-self: flex-end;
    right: -42px;
    width: 42px;
    height: 42px;
    background: none;
    border-style: none;
    border-width: 0;
    border-color: black;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 1s;
}

.add__exit:hover {
    opacity: 60%;
}

.add__box {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    align-items: center;
    max-height: 330px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    position: relative;
    border-style: none;
    border-width: 0;
    border-color: black;
    border-radius: 5px;
    transition: visibility 0.4s;
}


.add__header {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    color: black;
    text-wrap: none;
    max-width: 330px;
    margin-bottom: 47px;
    margin-top: 23px;
    margin-right: 28px;
}

.add__label {
    width: 100%;
    padding-left: 68px;
}

.add__input {
    width: 85%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 29px;
    padding-bottom: 10px;
}

.add__input:last-of-type {
    margin-bottom: 48px;
    padding-bottom: 8px;
}

.add__save {
    width: 85%;
    background: black;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border-style: none;
    border-width: 0;
    border-color: black;
    opacity: 100%;
    transition: opacity 1s;
    margin-bottom: 63px;
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 13px;
    cursor: pointer;
}

.add__save:hover {
    opacity: 80%;
}

@media screen and (max-width: 890px) {

    .add__box {
        align-self: center;
        max-width: 282px;
        max-height: 322px;
        width: 282px;
        height: 322px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        left: 0;
        right: auto;
        top: 0;
    }

    .add__exit {
        right: 0;
    }    

    .add__close {
        height: 21px;
        width: 21px;
    }

    .add__header {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 73px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-left: 38px;
    }

    .add__input {
        max-width: 95%;
    }   

    .add__label {
        max-width: 250px;
        padding-left: 5px;
    }

    .add__save {
        max-width: 240px;
        max-height: 322px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}