.card {
    width: 282px;
    height: 361px;
}

.card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.card__content_like-button {
    width: 21px;
    height: 18px;
    transition: opacity 1s;
    opacity: 100%;
}

.card__content_like-button:hover {
    opacity: 60%;
}