.card {
    width: 282px;
    height: 361px;
    overflow: hidden;
}

.card__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__content_like-button {
    width: 21px;
    height: 18px;
    transition: opacity 1s;
    opacity: 100%;
}

.card__content_like-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 320px) {
    .card__content {
        font-family: Inter;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }
}