.cards {
    width: 880px;
    height: 742px;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    align-content: center;
    object-fit: contain;
    overflow: hidden;
}

.cards__card {
    width: 100%;
    height: 361px;
    border-radius: 5px;    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.cards__card_location_yosemite {
    background-image: url(../images/yosemite.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards__card_location_lake-louise {
    background-image: url(../images/lake-louise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.cards__card_location_bald-mountains {
    background-image: url(../images/bald-mountains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards__card_location_latemar {
    background-image: url(../images/latemar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards__card_location_vanoise {
    background-image: url(../images/vanoise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cards__card_location_lago {
    background-image: url(../images/lago.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.cards__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    background-color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    overflow: hidden;
}

.cards__content_title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 219px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;    
}

.cards__content_like-button {
    width: 21px;
    height: 18px;
    transition: opacity 1s;
    align-self: center;
    opacity: 100%;
    padding-right: 30px;    
}

.cards__content_like-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 320px) {
    .cards {
        width: 100%;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}