.main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 884px;    
}

@media screen and (max-width: 890px) {
    .main {
        width: 280px;
        padding-left: 19px;
        padding-right: 19px;
    }

}

@media screen and (max-width: 340px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
}
    
    