.main {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 884px;    
}

@media screen and (max-width: 890px) {
    .main {
        width: 100%;        
        padding-left: 19px;
        padding-right: 19px;
    }

}
    
    