.cards {
    width: 100%;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 20px;
    align-content: center;
}

.cards__card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cards__image {
    object-fit: cover;
    object-position: center;
    height: 282px;
    cursor: pointer;
}

.cards__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
}

.cards__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 219px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.cards__like-button {
    width: 21px;
    height: 18px;
    transition: opacity 1s;
    align-self: center;
    opacity: 100%;
    margin-right: 30px;
    cursor: pointer;    
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 25px;
    padding-right: 0;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
}

.cards__like-button:hover {
    opacity: 50%;
}

.card__like-button_active {
    background-image: url(../images/Union.svg);
}

.cards__delete-button {
    height: 18px;
    width: 18px;
    opacity: 100%;
    background: none;
    border: none;
    transition: opacity 1s;
    align-self: end;
    position: relative;
    top: 25px;
    right: 10px;
    cursor: pointer;
    padding: 0;
}

.cards__delete-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 1170px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 890px) {
    .cards {
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: 282px;
    }
}